body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  letter-spacing: 0.06em;
}

/* Header */

.header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.logo-style {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 26px;
  color: #2196f3;
  line-height: 100%;
}

.logo {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 26px;
  text-decoration: none;
  color: #000;
  line-height: 100%;
  margin-left: 215px;
}

.nav-list {
  margin-left: 50px;
  list-style: none;
  display: flex;
  color: #212121;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  margin: 0 auto;
}

.nav-list li a {
  color: #212121;
  text-decoration: none;
  display: block;
  margin: 0 50px;
}

.nav-link:hover,
.address-link:hover {
  color: #2196f3;
}

.nav-link:focus,
.address-link:focus {
  color: #2196f3;
}

.nav-address {
  display: flex;
  list-style: none;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  margin: 0 auto;
}

.nav-address li a {
  color: #757575;
  text-decoration: none;
  display: block;
  margin: 0 50px;
}

/* /Header */

/* Hero */

.hero {
  background-color: #2f303a;
  height: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  text-transform: uppercase;
  text-align: center;
}

.hero-head {
  margin: 30px;
}

.hero-button {
  background-color: #2196f3;
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  line-height: 160%;
  width: 200px;
  height: 50px;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/* /Hero */

/* Quality */

.quality {
  max-height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.quality-card-title {
  margin-top: 65px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
}

.quality li {
  display: block;
  text-decoration: none;
}

.hidden-title {
  margin: 0;
  padding: 0;
  visibility: hidden;
}

.quality-info {
  margin-bottom: 94px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 146%;
  color: #757575;
  width: 270px;
}

/* /Quality */

/* Work */

.work-title {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-size: bold;
  font-size: 36px;
  line-height: 100%;
  color: #212121;
}

.work-list {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 94px;
}

.work-list li {
  display: block;
  text-decoration: none;
}

/* /Work */

/* Workers */

.workers-title {
  margin-top: 188px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-style: bold;
  font-size: 36px;
  line-height: 100%;
  color: #212121;
}

.workers-list li {
  display: block;
  text-decoration: none;
}

.workers-list {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;

  padding-top: 50px;
}

.worker-info {
  height: 368px;
  width: 270px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 94px;
}

.worker-title {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #212121;
}

.worker-prof {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 100%;
  color: #757575;
}

/* /Workers */

/* Filter */

.filter-btn {
  margin-top: 65px;
  display: flex;
  list-style: none;
  justify-content: center;
}

.btn-list-all,
.btn-list-web,
.btn-list-app,
.btn-list-design,
.btn-list-marketing {
  background-color: #f5f4fa;
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 139%;
}

.btn-list-all {
  width: 73px;
  height: 38px;
  margin-right: 8px;
}

.btn-list-web {
  width: 128px;
  height: 38px;
  margin-right: 8px;
}

.btn-list-app {
  width: 145px;
  height: 38px;
  margin-right: 8px;
}

.btn-list-design {
  width: 103px;
  height: 38px;
  margin-right: 8px;
}

.btn-list-marketing {
  width: 130px;
  height: 38px;
}

.btn-list-all:hover,
.btn-list-web:hover,
.btn-list-app:hover,
.btn-list-design:hover,
.btn-list-marketing:hover {
  background-color: #2196f3;
  color: #fff;
}

.btn-list-all:focus,
.btn-list-web:focus,
.btn-list-app:focus,
.btn-list-design:focus,
.btn-list-marketing:focus {
  background-color: #2196f3;
  color: #fff;
}

/* /Filter */

/* Box */

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

.box-list {
  box-sizing: border-box;
  margin: 30px 30px;
  height: 404px;
  list-style: none;
  border: 1px solid #eeeeee;
}

.box-title {
  margin-left: 24px;
  margin-bottom: 0px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 18px;
  line-height: 171%;
  color: #212121;
}

.box-info {
  margin-left: 24px;
  margin-top: 4px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 160%;
  color: #757575;
}

/* /Box */

/* Footer */

.footer {
  height: 252px;
  background-color: #2f303a;
  color: #fff;
}

.logo-footer {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 26px;
  text-decoration: none;
  color: #fff;
  line-height: 100%;
  display: flex;
  align-content: center;
  padding-top: 60px;
  padding-left: 215px;
}

.address {
  display: flex;
  flex-direction: column;
  padding-left: 215px;
}

.address li {
  display: block;
  text-decoration: none;
}

.address-info {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 146%;
  margin: 0;
  padding-top: 20px;
}

.footer-list {
  margin: 0;
  padding: 0;
}

.address-list {
  text-decoration: none;
  color: #757575;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 146%;
}

/* /Footer */
